.resting-document {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.resting-document #body {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

.resting-document #header {
  display: none;
  text-align: center;
}

.resting-document #title-menu {
  text-align: left;
  margin-top: 10px;
  display: inline-block;
}

.resting-document #title:hover {
  cursor: pointer;
}

.resting-document #title:after {
  content: "\25BE";
  opacity: 0;
}

.resting-document #title:hover:after {
  opacity: 1;
}

.resting-document #refresh {
  float: right;
  margin: 10px;
}

.resting-document #refresh:hover {
  cursor: pointer;
}

.resting-document #name br {
  display: none;
}

.resting-document #edited {
  display: none;
  opacity: 0.3;
}

.resting-icon {
  height: 16px;
}

.resting-icon:hover {
  cursor: pointer;
}

.resting-icon.faded {
  vertical-align: top;
  -webkit-filter: opacity(0.2);
  margin-top: 2px;
}

.resting-icon.faded:hover {
  -webkit-filter: opacity(0.9);
}

.resting-document .alert {
  margin: 0;
}

.resting-document #alerts {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.resting-document #toolbar {
  float: left;
  margin: 10px;
}
