<div class="resting-document">
  <div id="toolbar">
    <span id="load">
      <img class="resting-icon faded" src="/resting/document/list.svg">
    </span>
  </div>

  <div id="alerts"></div>
  <div id="header">
    <span id="refresh">
      <img class="resting-icon faded" src="/resting/document/refresh.svg">
    </span>
    <div id="title-menu" class="dropdown">
      <span id="title" class="dropdown-toggle" data-toggle="dropdown">
        <img class="resting-icon" src="<%= icon %>">
        <span id="name"></span>
        <span id="edited" tooltip="true"
              title="This document has unsaved changes. You can save using this dropdown menu, or with Command-s or Control-s.">
          &mdash; edited
        </span>
      </span>
      <ul id="menu" class="dropdown-menu" role="menu">
        <li><a id="rename"    href="#">Rename</a></li>
        <li><a id="duplicate" href="#">Duplicate</a></li>
        <li><a id="save"      href="#">Save</a></li>

        <li class="divider"></li>
        <li><a id="revert"    href="#">Revert</a></li>
        <li><a id="close"     href="#">Close</a></li>
        <li><a id="destroy"   href="#">Delete</a></li>
      </ul>
    </div>
  </div>

  <div id="body" class="chart"></div>
  
  <div id="load-form" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Load saved <%= name %></h4>
    </div>
    <div class="modal-body">
      <input id="load-name" type="text">
    </div>
    <div class="modal-footer">
      <button id="load-submit" class="btn btn-primary">Load</button>
    </div>
  </div>
</div>
